USE [master]
GO
/****** Object:  Database [CS_Search_Project_Ori]    Script Date: 19/07/2018 08:58:06 ******/
CREATE DATABASE [CS_Search_Project_Ori]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS_Search_Project_Ori', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CS_Search_Project_Ori.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CS_Search_Project_Ori_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CS_Search_Project_Ori_log.ldf' , SIZE = 7048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS_Search_Project_Ori].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS_Search_Project_Ori]
GO
/****** Object:  Table [dbo].[Search_Results]    Script Date: 19/07/2018 08:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search_Results](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SearchID] [int] NOT NULL,
	[SearchResultPath] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Search_Results] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Searches]    Script Date: 19/07/2018 08:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Searches](
	[SearchID] [int] IDENTITY(1,1) NOT NULL,
	[SearchTerm] [nvarchar](50) NOT NULL,
	[SearchDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Searches] PRIMARY KEY CLUSTERED 
(
	[SearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
